@use './abstract' as *;
@use './box-style';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: $secondColor;
}


.greetings{
    @include flex-center (wrap);
    background-color: $mainColor;
    border-radius: 0px 0px 35px 35px;
    padding: 20px;
    color: $secondColor;
    
    h1{
        font-size: $titleFont;
        text-align: center;
        padding: 20px;
    }

    svg{
        width: 100px;
    }
}

#playingNow{
    @include flex-center(nowrap);
    font-size: $textFont;
    color: $mainColor;
}


.reset-btn{
    @include max-width;
    text-align: center;
    
    button{
        border-radius: 2rem;
        padding: 10px 20px;
        color: $secondColor;
        background-color: $mainColor;
        border-style: none;
        font-size: $textFont;
        outline: 0;


        &:hover, 
        &:focus{
            @include hover-focus;
        }
    }
}


#final-result{
    font-size: $textFont;
    text-align: center;
    color: $mainColor;
}


.leaderBoard{
    @include max-width;
    background-color: $mainColor;
    border-radius: $border;
    padding: 5px;
    text-align: center;
    
    
    h2{
        color: $secondColor;
        padding: 7px;
    }
    
    button{
        outline: none;
        border: 2px solid $hoverColor;
        border-radius: $border;
        background-color: $mainColor;
        padding: 7px;
        color: $secondColor;
        font-size: $textFont;
        font-weight: 700;

        &:hover,
        &:focus{
            @include hover-focus;
        }
    }

    .leaderBoard-values{
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px;
        background-color: $secondColor;
        border-bottom: 5px solid $mainColor;
        text-align: left;

        p{
            font-size: $textFont;
            font-family: 'Montserrat', sans-serif;           
        }

        svg{
            margin-left: 70%;
            width: 40px;
            padding-left: 15px;

            
        }
    }
}


/* 505 --> Mobile */
@media only screen and (max-width: 31.5625em){

    .greetings{
        padding: 0;

        svg{
            width: 70px;
        }
    }

    .leaderBoard{
        .leaderBoard-values{
            svg{
                margin-left: 40%;
            }
        }
    }




}