@import './Extra/_variables.scss/variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.greetings{
    text-align: center;
    font-size: $textFont;
    background-color: $mainColor;
    border-radius: 0px 0px 35px 35px;
    padding: 20px;
    color: $secondColor;
    h1{
        font-size: $titleFont;
    }
}

#final-result{
    font-size: $textFont;
    text-align: center;
}

#wrapper{
    position: relative;
    width: $wrapper;
    height: $wrapper;
    margin: auto;  
    border: 1px solid black;
    top: -100%;
    transform: translateY(50%);
}

.container{
    width: $containerWidth;
    height: $containerHeight;
    border: 1px solid black;
    display: flex;
}

.squares{
    width: $squares;
    height: $squares;
    border: 1px solid black;
    text-align: center;
    font-size: $squares;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

    &:hover{
        background-color: $squaresHover;
    }

}



@media only screen and (max-width: 31.5625em){

    #wrapper{
        width: $wrapperMobile;
        height: $wrapperMobile;
    }

    .container{
        width: $containerMobileWidth;
        height: $containerMobileHeight;
    }

    

}