@mixin flex-center ($wrapDirection) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: $wrapDirection;
}


@mixin max-width {
    width: 100%;
    max-width: 500px;
    margin: auto;
    
}


@mixin hover-focus {
    &:hover,
    &:focus{
        background-color: $hoverColor;
        cursor: pointer;
    }
}
