#wrapper {
  position: relative;
  width: 30rem;
  height: 30rem;
  margin: 3rem auto;
}

.container {
  width: 30rem;
  height: 10rem;
  display: flex;
}

.squares {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  width: 10rem;
  height: 10rem;
  border: 1px solid #fffdfe;
  text-align: center;
  font-size: 10rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.squares:hover {
  background-color: #4680ff;
}

/* Making the box more Tic-Tac-Toe like */
#p1, #p4, #p6 {
  border-left-style: none;
}

#p3, #p5, #p8 {
  border-right-style: none;
}

#p1, #p2, #p3 {
  border-top-style: none;
}

#p6, #p7, #p8 {
  border-bottom-style: none;
}

/* 505px --> Mobile Only */
@media only screen and (max-width: 31.5625em) {
  #wrapper {
    width: 100%;
    height: 100%;
  }

  .container {
    width: 100%;
    height: 33.3%;
  }

  .squares {
    font-size: 5rem;
  }
}
.leaderBoard {
  width: 100%;
  max-width: 500px;
  margin: auto;
  background-color: #4680ff;
  border-radius: 2rem 2rem 2rem 2rem;
  padding: 5px;
  text-align: center;
}
.leaderBoard h2 {
  color: #fffdfe;
  padding: 7px;
}
.leaderBoard button {
  outline: none;
  border: 2px solid #2f65da;
  border-radius: 2rem 2rem 2rem 2rem;
  background-color: #4680ff;
  padding: 7px;
  color: #fffdfe;
  font-size: 1.2rem;
  font-weight: 700;
}
.leaderBoard button:hover:hover, .leaderBoard button:hover:focus, .leaderBoard button:focus:hover, .leaderBoard button:focus:focus {
  background-color: #2f65da;
  cursor: pointer;
}
.leaderBoard .leaderBoard-values {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
  background-color: #fffdfe;
  border-bottom: 5px solid #4680ff;
  text-align: left;
}
.leaderBoard .leaderBoard-values p {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.leaderBoard .leaderBoard-values .wins {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.leaderBoard .leaderBoard-values .wins svg {
  width: 40px;
  padding-left: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #fffdfe;
  background-image: url("../extra/images/5039684.jpg");
  background-size: cover;
}

.greetings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #4680ff;
  border-radius: 0px 0px 35px 35px;
  padding: 20px;
  color: #fffdfe;
}
.greetings h1 {
  font-size: 3.2rem;
  text-align: center;
  padding: 20px;
}
.greetings svg {
  width: 100px;
}

#playingNow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  color: #4680ff;
}

.reset-btn {
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.reset-btn button {
  border-radius: 2rem;
  padding: 10px 20px;
  color: #fffdfe;
  background-color: #4680ff;
  border-style: none;
  font-size: 1.2rem;
  outline: 0;
}
.reset-btn button:hover:hover, .reset-btn button:hover:focus, .reset-btn button:focus:hover, .reset-btn button:focus:focus {
  background-color: #2f65da;
  cursor: pointer;
}

#final-result {
  font-size: 1.2rem;
  text-align: center;
  color: #4680ff;
}

/* 505 --> Mobile */
@media only screen and (max-width: 31.5625em) {
  .greetings {
    padding: 0;
  }
  .greetings svg {
    width: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
