@use '../abstract/' as *;

#wrapper{
    position: relative;
    width: $wrapper;
    height: $wrapper;
    margin: 3rem auto;  
}

.container{
    width: $containerWidth;
    height: $containerHeight;
    display: flex;

}

.squares{
    @include flex-center (no-wrap);
    width: $squares;
    height: $squares;
    color: $secondColor;
    border: 1px solid $secondColor;
    text-align: center;
    font-size: $squares;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    
    &:hover{
        background-color: $mainColor;
    }
    
}

/* Making the box more Tic-Tac-Toe like */

//* First Column
#p1, #p4, #p6{
    border-left-style: none;
}

//* Third Column
#p3, #p5, #p8{
    border-right-style: none;
}

//*First Row
#p1, #p2, #p3{
    border-top-style: none;
}

//*Third Row
#p6, #p7, #p8{
    border-bottom-style: none;
}

/* 505px --> Mobile Only */
@media only screen and (max-width: 31.5625em){

    #wrapper{
        width: $wrapperMobile;
        height: $wrapperMobile;
        
    }

    .container{
        width: $containerMobileWidth;
        height: $containerMobileHeight;
    }

    .squares{
        font-size: $squares - 5rem;
    }
}