@use '../abstract/' as *;

.leaderBoard{
    @include max-width;
    background-color: $mainColor;
    border-radius: $border;
    padding: 5px;
    text-align: center;
    
    
    h2{
        color: $secondColor;
        padding: 7px;
    }
    
    button{
        outline: none;
        border: 2px solid $hoverColor;
        border-radius: $border;
        background-color: $mainColor;
        padding: 7px;
        color: $secondColor;
        font-size: $textFont;
        font-weight: 700;

        &:hover,
        &:focus{
            @include hover-focus;
        }
    }

    .leaderBoard-values{
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px;
        background-color: $secondColor;
        border-bottom: 5px solid $mainColor;
        text-align: left;

        p{
            font-size: $textFont;
            font-family: 'Montserrat', sans-serif;           
        }

        //* Wins counter 
        .wins{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            svg{
                
                width: 40px;
                padding-left: 15px;            
            }
        }
    }
}


@media only screen and (max-width: 31.5625em){

    
}

